/* .listgroup-dashboard{
   background-color: rgb(3, 77, 112);
   color: white;
}
.listgroup-dashboard h5{
    font-size: larger;
    font-family: sans-serif;
}
.listgroup-item{
    font-family: sans-serif;
    background-color: rgb(7, 7, 7);
    color: white;
}
.dash-head{
    text-align: center;
} */